nablarch.batchRequestTable.name=BATCH_REQUEST
nablarch.batchRequestTable.requestIdColumnName=BATCH_REQUEST_ID
nablarch.batchRequestTable.serviceAvailableColumnName=SERVICE_AVAILABLE
nablarch.batchRequestTable.resumePointColumnName=RESUME_POINT
nablarch.batchRequestTable.processActiveFlgColumnName=PROCESS_ACTIVE_FLG
nablarch.batchRequestTable.processHaltColumnName=PROCESS_HALT_FLG
