nablarch.codePatternTable.name=CODE_PATTERN
nablarch.codePatternTable.idColumnName=CODE_ID
nablarch.codePatternTable.valueColumnName=CODE_VALUE
nablarch.codePatternTable.patternColumnNames=PATTERN01,PATTERN02,PATTERN03,PATTERN04,PATTERN05,PATTERN06,PATTERN07,PATTERN08,PATTERN09,PATTERN10,PATTERN11,PATTERN12,PATTERN13,PATTERN14,PATTERN15,PATTERN16,PATTERN17,PATTERN18,PATTERN19,PATTERN20
nablarch.codeNameTable.name=CODE_NAME
nablarch.codeNameTable.idColumnName=CODE_ID
nablarch.codeNameTable.valueColumnName=CODE_VALUE
nablarch.codeNameTable.langColumnName=LANG
nablarch.codeNameTable.sortOrderColumnName=SORT_ORDER
nablarch.codeNameTable.nameColumnName=CODE_NAME
nablarch.codeNameTable.shortNameColumnName=SHORT_NAME
nablarch.codeNameTable.optionNameColumnNames=OPTION01,OPTION02,OPTION03,OPTION04,OPTION05,OPTION06,OPTION07,OPTION08,OPTION09,OPTION10
