nablarch.mailRequestTable.tableName=MAIL_REQUEST
nablarch.mailRequestTable.mailRequestIdColumnName=MAIL_REQUEST_ID
nablarch.mailRequestTable.subjectColumnName=SUBJECT
nablarch.mailRequestTable.fromColumnName=MAIL_FROM
nablarch.mailRequestTable.replyToColumnName=REPLY_TO
nablarch.mailRequestTable.returnPathColumnName=RETURN_PATH
nablarch.mailRequestTable.charsetColumnName=CHARSET
nablarch.mailRequestTable.statusColumnName=STATUS
nablarch.mailRequestTable.requestDateTimeColumnName=REQUEST_DATETIME
nablarch.mailRequestTable.sendDateTimeColumnName=SEND_DATETIME
nablarch.mailRequestTable.mailSendPatternIdColumnName=MAIL_SEND_PATTERN_ID
nablarch.mailRequestTable.mailBodyColumnName=MAIL_BODY
nablarch.mailRequestTable.sendProcessIdColumnName=PROCESS_ID
nablarch.mailRecipientTable.tableName=MAIL_RECIPIENT
nablarch.mailRecipientTable.mailRequestIdColumnName=MAIL_REQUEST_ID
nablarch.mailRecipientTable.serialNumberColumnName=SERIAL_NUMBER
nablarch.mailRecipientTable.recipientTypeColumnName=RECIPIENT_TYPE
nablarch.mailRecipientTable.mailAddressColumnName=MAIL_ADDRESS
nablarch.mailAttachedFileTable.tableName=MAIL_ATTACHED_FILE
nablarch.mailAttachedFileTable.mailRequestIdColumnName=MAIL_REQUEST_ID
nablarch.mailAttachedFileTable.serialNumberColumnName=SERIAL_NUMBER
nablarch.mailAttachedFileTable.fileNameColumnName=FILE_NAME
nablarch.mailAttachedFileTable.contentTypeColumnName=CONTENT_TYPE
nablarch.mailAttachedFileTable.fileColumnName=ATTACHED_FILE
nablarch.mailTemplateTable.tableName=MAIL_TEMPLATE
nablarch.mailTemplateTable.mailTemplateIdColumnName=MAIL_TEMPLATE_ID
nablarch.mailTemplateTable.langColumnName=LANG
nablarch.mailTemplateTable.subjectColumnName=SUBJECT
nablarch.mailTemplateTable.charsetColumnName=CHARSET
nablarch.mailTemplateTable.mailBodyColumnName=MAIL_BODY
