nablarch.ugroupTable.name=UGROUP
nablarch.ugroupTable.groupIdColumnName=UGROUP_ID
nablarch.systemAccountTable.name=SYSTEM_ACCOUNT
nablarch.systemAccountTable.userIdColumnName=USER_ID
nablarch.systemAccountTable.userIdLockedColumnName=USER_ID_LOCKED
nablarch.systemAccountTable.effectiveDateFromColumnName=EFFECTIVE_DATE_FROM
nablarch.systemAccountTable.effectiveDateToColumnName=EFFECTIVE_DATE_TO
nablarch.ugroupSystemAccountTable.name=UGROUP_SYSTEM_ACCOUNT
nablarch.ugroupSystemAccountTable.groupIdColumnName=UGROUP_ID
nablarch.ugroupSystemAccountTable.userIdColumnName=USER_ID
nablarch.ugroupSystemAccountTable.effectiveDateFromColumnName=EFFECTIVE_DATE_FROM
nablarch.ugroupSystemAccountTable.effectiveDateToColumnName=EFFECTIVE_DATE_TO
nablarch.permissionUnitTable.name=PERMISSION_UNIT
nablarch.permissionUnitTable.permissionUnitIdColumnName=PERMISSION_UNIT_ID
nablarch.permissionUnitRequestTable.name=PERMISSION_UNIT_REQUEST
nablarch.permissionUnitRequestTable.permissionUnitIdColumnName=PERMISSION_UNIT_ID
nablarch.permissionUnitRequestTable.requestIdColumnName=REQUEST_ID
nablarch.ugroupAuthorityTable.name=UGROUP_AUTHORITY
nablarch.ugroupAuthorityTable.groupIdColumnName=UGROUP_ID
nablarch.ugroupAuthorityTable.permissionUnitIdColumnName=PERMISSION_UNIT_ID
nablarch.systemAccountAuthorityTable.name=SYSTEM_ACCOUNT_AUTHORITY
nablarch.systemAccountAuthorityTable.userIdColumnName=USER_ID
nablarch.systemAccountAuthorityTable.permissionUnitIdColumnName=PERMISSION_UNIT_ID
