# 全角文字以外の文字が入力された場合のメッセージID
nablarch.zenkakuCharset.messageId=errors.zenkakuCharset

# 英数字チェックでエラー発生時のデフォルトメッセージID
nablarch.alnumCharset.messageId=errors.alnumCharset

# ASCII文字チェックでエラー発生時のデフォルトメッセージID
nablarch.asciiCharset.messageId=errors.asciiCharset

# 数字チェックでエラー発生時のデフォルトメッセージID
nablarch.numericCharset.messageId=error.numericCharset

# 全角カタカナチェックでエラー発生時のデフォルトメッセージID
nablarch.zenkakuKatakanaCharset.messageId=errors.zenkakuKatakanaCharset
